@font-face {
  font-family: 'icomoon';
  src: url('../../assets/fonts/icon/icomoon.eot?imetii');
  src:
    url('../../assets/fonts/icon/icomoon.eot?imetii#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icon/icomoon.ttf?imetii') format('truetype'),
    url('../../assets/fonts/icon/icomoon.woff?imetii') format('woff'),
    url('../../assets/svgs/icomoon.svg?imetii#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  @apply font-['icomoon'] leading-none font-normal normal-case not-italic;
  @apply antialiased;
}

@layer utilities {
  .icon-swap::before {
    content: '\e900';
  }
  .icon-add::before {
    content: '\e901';
  }
  .icon-delete::before {
    content: '\e903';
  }
}
